/* Estilos generales */

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  padding-bottom: 27vh;
  min-height: 100vh;
  background-color: #757575;
}

.img {
  background-image: url("../src/assets/pexels-pixabay-279574.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.49);
  color: #f0f8ff;
}
.img,
h2,
h3 {
  font-weight: 900;
}
.photoRegister {
  border-radius: 50%;
  max-width: 120px;
  width: 50%;
  object-fit: cover;
}
.navFooter {
  width: 100px;
}
.btn-outline-info {
  width: 25vh;
  font-weight: 800;
  border-width: 3px;
  font-size: 20px !important;
  -webkit-text-stroke: 1px black;
  box-shadow: 8px 9px 9px 0px rgba(0, 111, 176, 0.75);
  -webkit-box-shadow: 8px 9px 9px 0px rgba(0, 111, 176, 0.75);
  -moz-box-shadow: 8px 9px 9px 0px rgba(0, 111, 176, 0.75);
}
.btn-outline-info:hover {
  color: #f0f8ff;
}
.welcome {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1vh;
  border-radius: 1vh;
}
.popularTineraries {
  text-align: center;
  padding: 4vh;
  background-color: #212529;
  color: aliceblue;
}
.carousel {
  margin-left: 20%;
  margin-right: 20%;
}
.card-body {
  background-color: #212529;
  color: aliceblue;
  text-align: center;
  z-index: 10;
}

.card-img-top:hover {
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
  -moz-filter: saturate(0%);
}
.btnFooter:hover {
  font-size: 18px;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}
.icons > h3:hover {
  font-size: 30px;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}
footer {
  background-color: #212529;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nav {
  flex-direction: column;
}
.nav-link {
  color: aliceblue !important;
  font-size: 2vh;
}
footer .color {
  background-color: #212529;
  text-align: center;
}
footer div {
  text-align: center;
  color: aliceblue;
}
.icons {
  width: 6vh;
  display: flex;
  flex-direction: column;
}
footer h3 {
  color: aliceblue;
}

/* Estilos del Carrucel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #212529;
  border-radius: 1vh;
}
.carousel-control-prev-icon {
  position: relative;
  right: 90%;
}
.carousel-control-next-icon {
  position: relative;
  left: 90%;
}
.carousel-indicators {
  display: none !important;
}
.col-xl-6 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}

.buttonCities {
  text-decoration: none;
  color: #f0f8ff;
  font-size: 20px;
  border: 1px solid #f0f8ff;
  border-radius: 8px;
  padding: 0.4vh;
}
.form-label {
  font-size: 3vh;
  font-weight: 900;
  -webkit-text-stroke: 0.8px rgb(255, 255, 255);
}

.pageCity {
  background-image: url("./assets/map.jpg");
  background-repeat: no-repeat;
  background-position: top;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageCity > h1 {
  font-size: 7vh;
  font-weight: 600;
  color: #f0f8ff;
  text-shadow: 2px 2px 2px rgb(253, 253, 253);
  -webkit-text-stroke: 2px black;
}

.h2Itineray {
  text-align: center;
  margin: 1vh;
  -webkit-text-stroke: 0.8px rgb(255, 255, 255);
}
.btnItineray {
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 15vw;
}
.imgPerson {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.colorCollapse {
  background-color: #e0e0e0;
}
.hashtag {
  display: inline-block;
  margin-right: 2vw;
  text-align: center;
}
.imgItinerayDiv {
  width: 96%;
  max-width: 2450px;
  margin: 0 auto;
  object-fit: cover;
}
.imgItineray {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Registro */
.signTitle {
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}
.signIn,
.signUp {
  display: flex;
  background-image: url("./assets/signin.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 105vh;
}
.signInForm,
.signUpForm {
  margin: auto;
  align-items: center;
  padding: 3vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 2px;
}
.signInForm > h3 {
  text-align: center;
}
.signInButton {
  justify-content: center;
}
.signh5,
.activityTitle {
  color: #212529;
  font-size: 1.5rem;
  font-weight: 900;
  -webkit-text-stroke: 0.6px rgb(255, 255, 255);
}
.comments {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 3px rgba(70, 62, 62, 0.253);
  min-height: 60vh;
}
.containerComment {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 70%;
  border: 2px solid #e6e3e3;
  background-color: #dbcece;
  box-shadow: 1px 1px 3px 3px rgba(70, 62, 62, 0.253);
  margin: 0 auto;
}

.coment,
.inputEdit {
  padding: 1vh 1vw;
  background-color: transparent;
  border: none;
  width: 80%;
  outline: none;
}

.comments1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  overflow-y: auto;
  margin-left: 1vw;
  z-index: -1;
  min-height: 45vh;
}
.IconComment {
  color: greenyellow;
  font-size: 1em;
  cursor: pointer;
  margin: 0 2px;
  border-radius: 50%;
}
.imgUsersComment {
  border: 50%;
  height: 30%;
}
.inputChange2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.usersimgName {
  max-width: 60vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(70, 62, 62, 0.253);
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  margin: 1rem;
  box-shadow: 1px 1px 2px 2px rgba(70, 62, 62, 0.253);
}
.usersimgName > img {
  width: 7%;
  border-radius: 50%;
}
.comentario {
  flex-wrap: wrap;
  margin-left: 2rem;
}
.nameUsersComment {
  margin-left: 0.5rem;
}
.IconCommentContenedor {
  display: flex;
  flex-direction: row-reverse;
}
.inputChange2 > p {
  margin: 0 1rem;
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
@media (max-width: 375px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .img {
    background-image: url("../src/assets/320px_375px.jpg");
  }
  .h3Footer {
    font-size: 13px;
    margin-bottom: 2vh;
  }
  .btnItineray {
    margin-left: auto;
    margin-right: auto;
    max-width: 35vw;
  }
  .signUp {
    height: 102vh;
  }
  .signUpForm {
    height: 98vh;
  }
  .signInForm {
    height: 75vh;
  }
  .signh5 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  body {
    padding-bottom: 62vh;
  }
  footer {
    height: 400px;
  }
  .signUpForm {
    height: 97vh;
  }
  .signInForm {
    height: 62vh;
  }
  .img h3 {
    text-align: center;
  }
  .imgItynerari {
    background-image: url("./assets/itinerarioMobil.jpg");
  }
  .pageCity {
    background-image: url("./assets/mapMovil.jpg");
  }
  .IconCommentContenedor {
    display: flex;
    flex-direction: column;
  }
  .usersimgName > img {
    width: 25%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}

/* @medias */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    height: 55vh;
  }
  body {
    padding-bottom: 55vh;
  }

  .carousel {
    margin-left: 10%;
    margin-right: 10%;
  }
  .signUpForm {
    height: 87vh;
  }
  .signInForm {
    height: 60vh;
  }
}

@media (max-width: 1025px) {
  .h3Footer {
    font-size: 23px;
    margin-bottom: 2vh;
  }
  .btnItineray {
    margin-left: auto;
    margin-right: auto;
  }
  .btnFooter {
    font-size: 18px;
  }
  .signUpForm {
    height: 85vh;
  }
}
@media (max-width: 1442px) {
  .signUpForm {
    height: 85vh;
  }
  .signInForm {
    height: 55vh;
  }
}
@media (max-width: 2600px) {
  .signInForm {
    height: 55vh;
  }
  .signUpForm {
    height: 85vh;
  }
}
