html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  background-image: url("../src/assets/pexels-pixabay-279574.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1vh;
  border-radius: 1vh;
}
.popularTineraries {
  text-align: center;
  padding: 4vh;
  background-color: #212529;
  color: aliceblue;
}
.carousel {
  margin-left: 20%;
  margin-right: 20%;
}
Footer {
  background-color: #212529;
  height: 20vh;
}
.color {
  background-color: #212529;
  text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #212529;
  border-radius: 1vh;
}
.carousel-control-prev-icon {
  position: relative;
  right: 90%;
}
.carousel-control-next-icon {
  position: relative;
  left: 90%;
}
